<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stranger Things Halloween Extravaganza</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>


    <div class="container">
        <div class="header">
            <h3 class="text-muted  text-center">Stranger Things Halloween Extravaganza</h3>
        </div>
        <div id="content">
            {% if text %}
            <h4>You Sent: <strong>{{text}}</strong></h4>
            {% endif %}

        </div>
        <div>
            <form method="post" action="/">
                <div class="form-group">
                    <h3 class="text-center"><label for="text" >Add wall text here:</label></h3>
                    <input type="text" class="form-control" name="text" id="text" />
                </div>
                <button type="submit" class="btn btn-danger btn-lg btn-block">Send it!</button>
            </form>
        </div>
    </div>
</body>
 
</html>
